body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    margin:0;
    background: linear-gradient(38deg, rgb(57, 167, 143) 0%, rgba(2,0,36,1) 25%, rgba(2,0,36,1) 75%, rgba(57, 167, 143) 100%);
	background-size: 400% 400%;
	animation: gradient 35s ease infinite;
	height: 100vh;
    color:#FFFFFF;
    font-family: 'Codystar', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 3em;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.quote {
    opacity: 1;
    animation: 5s opacity;
}

.logo {
    position: absolute; 
    top: 30px;
    left: 30px;
}
